p{
    color: black;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
h1,h2{
    color: brown;
    font-size: 10px;
}
body{
    background-color: cadetblue;
}